/* Box design */

.box {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.7;
}

.box-left {
  height: 360px;
  border: 1px solid $brand-color;
  border-bottom: none !important;
  color: $brand-color;
  padding: 20px;
}

.box-right {
  height: 360px;
  border: 1px solid $blue;
  border-bottom: none !important;
  color: $blue;
  padding: 20px;
}

.box-bottom-right {
  height : 80px;
  color: white;
  border: 1px solid $blue;
  border-top: none !important;
  h3 {
    margin-top: 0px;
    padding-top: 10px;
  }
  .layer {
   background-color: $blue;
  }
}

.box-bottom-left {
  height : 80px;
  border-top: none !important;
  color: white;
  border: 1px solid $brand-color;
  h3 {
    margin-top: 0px;
    padding-top: 10px;
  }
  .layer {
   background-color: $brand-color;
  }
}

.layer {
height: 50px;
width: 100%;
}

/* Box mobile design */

@media (max-width: 768px) {
  .box {
    width: 90%;
  }
  .box-right {
    margin-top: 30px;
    height: 400px;
    line-height: 1.5;
  }
  .box-left {
    line-height: 1.5;
    }
  }

