<div id="footer">
   <div class="footer text-center">
      <ul class="list-inline">
      <li><% link_to "#"do %> <i class="fa fa-facebook" aria-hidden="true"></i></li><% end %>
      <li><% link_to "#"do %> <i class="fa fa-instagram" aria-hidden="true"></i></li><% end %>
      </ul>
      <p>Copyright H2I-inspection 2017. All rights reserved</p>
    </div>
</div>
